<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookManage.Properties.Settings.BookLibraryConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=BookLibrary;Persist Security Info=True;User ID=BookAdmin;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>